/*========= 上部固定させるためのCSS ===============*/
#header{
	top: 0px;
	left: 0px;
	height: 70px;/*高さ指定*/
	width:100%;/*横幅指定*/
	/*以下はレイアウトのためのCSS*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#333;
	color:#fff;
	text-align: center;
	padding: 20px;
	position: fixed
}


/*===ページ内エリア項目===*/
nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li a{
	text-decoration: none;
	color: #666;
	padding:10px;
}

section{
	padding:300px 0;
}

/* ページアップリンク */
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}

/*==ページダウンボタン==*/
/*== 押し込む円 */

.pushcircle{
    /*周囲の線の起点とするためrelativeを指定*/
  position: relative;
    /*円の形状*/
  width:100px;
  height:100px;
    box-sizing: border-box;
    padding: 0 10px;
  text-align: center;
  background:#333;
  border-radius:50%;
  color: #fff;
    text-decoration: none;
    outline: none;
    /*天地中央にテキストを配置*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/*内側の線*/
.pushcircle:after {
  content: "";
    /*絶対配置で線の位置を決める*/
  position: absolute;
  top: 50%;
  left: 50%;
    /*線の形状*/
    width: 85%;
  height: 85%;
  border: 2px solid #333;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1.1);
    /*アニメーションの指定*/
    transition: .3s ease; 
  }

/*hoverをしたら枠線が小さくなる*/
.pushcircle:hover:after {
  transform: translate(-50%, -50%) scale(1);
    border-color:#fff;
}