/* 親メニュー - Parent nav */
nav > ul > li {
    position: relative;
    float: left;
    margin-right: 45px;
  }
  nav a {
    color: #0bd;
    text-decoration: none;
  }
  nav ul a:hover {
    color: #0090aa;
  }

  /* 子メニュー - .sub-menu */
nav .sub-menu {
    position: absolute;
    width: 180px;
    background: #0bd;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }
  nav .sub-menu a {
    color: #fff;
    padding: 10px 15px;
    display: block;
  }
  nav .sub-menu a:hover {
    color: #fff;
  }

  /* ホバーで子メニュー表示 */
nav .menu-item-has-children:hover ul {
    opacity: 1;
    visibility: visible;
  }
  nav li.menu-item-has-children li a:hover {
    background: #0090aa;
  }